<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title> 소재정보 자동저장페이지 </title>
  </head>
  <body>
    <h2>소재명을 입력하세요</h2>
    <form action="/searchComplete">
      <input type="text" name= "materialName" placeholder="소재명"  />
      <input type="submit" value= "확인"  />
    </form>
  </body>
</html>
